<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andoridfunc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.andoridfunc.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="func.asyncTask.TestAsyncTaskActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="func.handler_and_thread.TestHandler"
            android:label="@string/app_name" >
            
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="39a4048a6551b07d36e8ed9f37a777e5c11ca716" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
